@model ASI.Basecode.Data.Models.UserM

@{
    ViewData["Title"] = "User Details";
}

<h1>User Details</h1>

<div>
    <h4>User Information</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">First Name</dt>
        <dd class="col-sm-10">@Model.FName</dd>

        <dt class="col-sm-2">Last Name</dt>
        <dd class="col-sm-10">@Model.LName</dd>

        <dt class="col-sm-2">Email</dt>
        <dd class="col-sm-10">@Model.Email</dd>

        <dt class="col-sm-2">Phone</dt>
        <dd class="col-sm-10">@Model.Phone</dd>

        <dt class="col-sm-2">Address</dt>
        <dd class="col-sm-10">@Model.Address</dd>

        <dt class="col-sm-2">Role</dt>
        <dd class="col-sm-10">@Model.Role</dd>
    </dl>
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning">Edit</a>
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</div>
